.button-level {
	background-image: url("graphics/levelbutton.png");
	background-size: 30px;
	text-align: center;
	padding-top: 6px;
	font-family: Impact;
	color: #2244ff;
}

body:hover {
	cursor: Default;
}
::-moz-selection { /* firefox new ie? lol */
    color: none;
    background: none;
}

::selection {
    color: none;
    background: none;
}